
html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: rgb(247, 244, 244);
  }
body {
    width: 100%;
    margin: 0 auto;
  }
  ul.show{
    flex-direction: column;
    position: absolute;
    background-color: blue;
    visibility: hidden;

  }
  
nav {
    height: 50px;
    background-color: #ff80ff;
    display: flex;
    margin-bottom: 10px;
    padding: 1%;
  }
nav ul {
    display: flex;
    list-style-type: none;
    flex: 2;
}
nav li{
    display: inline;
    flex: 1;
}
nav form{
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 0 2em;
}
nav a {
    display: inline-block;
    
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
input {
    font-size: 1.3rem;
    height: 32px;
    
  }
input[type="search"] {
    flex: 2;
  }
input[type="submit"]  {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
}

h1, h2, h3{
    font-family: 'bold', cursive; }
h1 {
   
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
  }
h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  h3{
    font-size: 1.8rem;
    padding: 1%;
    
  }
  p{
    padding: 1%;
    font-size: 1.6rem;
  }
  
  p, li {
    
    line-height: 1.5;
  }
main {
    display: flex;
    padding: 1%;
  }
  article {
    
    flex: 4;
    background-color: antiquewhite;
  }
  
  aside {
   
    flex: 1;
    margin-left: 10px;
    background-color: aqua;
  }
  
  aside li {
   
    padding-bottom: 10px;
  }
  li{
    font-size: 1.6rem;
  }
  footer {
    margin-top: 10px;
    text-align: center;
  }  